body {
    background-color: white;
    font-family: "Times New Roman", sans-serif;
}

@page {
    size: A4 portrait;
    margin: 5mm 20mm 10mm 20mm;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    .btn_print, #rep {
        display: none !important;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 6px;
    font-size: 12pt;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#print {
    width: 210mm;
    margin: 0 auto;
    padding: 10mm;
    background: white;
}

hr {
    color: black;
    border-top: 1px solid rgb(0 0 0);
    height: 1px;
}

.report-header {
    margin-bottom: 20px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.info-text {
    flex: 1;
}

.info-logo img {
    max-height: 100px;
    margin-left: 20px;
}
